<div class="container">
  <h1>All Flats</h1>

  <div class="flat-list">
    <% @flats.each do |flat| %>
      <div class="card-trip">
        <%= image_tag flat.image_url %>
        <div class="card-trip-infos">
          <h2><%= flat.name %></h2>
          <h2 class="card-trip-pricing"><%= flat.currency %> <%= flat.price %></h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
